libs/sprayfire/config/dtd/error-exception-handler.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--
    This is the name of the class and method which will be the application's
    error handling and exception handling callbacks.
 -->
<!ELEMENT error-handling (class, action)>
<!ELEMENT exception-handling (class, action)>
    <!ELEMENT class (#PCDATA)>
    <!ELEMENT action (#PCDATA)>

